body {
    background: #fdfcf9;
}

ul {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 22px;
    padding-left: 0px;
}

.on_image {
    width: 215px;
    height: 107px;
    object-fit: cover;
}

header nav ul li a{
    text-decoration: none;
}


.VisitGhana {
    width: 1440px;
}

.sectionTwo {
    width: 1440px;
    background: black;
    color: lightgrey;
}

.sectionTwoPhoto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ghanaGirlPhoto {
    width: 720px;
    height: 412px; 
    border-radius: 5%;
}

.mountainManPic {
    width: 392px;
    height: 716px;
    border-radius: 50% 50% 50% 50%;
    padding-top: 50px;
}

.sectionTwoText {
    text-align: center;
    font-size: 50px;
}

.ghanaText {
    color:gold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sectionThree {
    background: whitesmoke;
}

.sectionThreePhoto {
    display: flex;
    justify-content: space-between;
    padding: 5% 0.5%;
}

.benefitsOfTravel {
    width: 698px;
    height: 466px;
    border-radius: 13%;
}

.blackgirlsinAfrica {
    width: 698px;
    height: 465px;
    border-radius: 13%;
}

.sectionFour {
    background: black;
    display:flex;
    height: 1000px;
    justify-content: space-around;
}

.aboutUsPic {
    width:640px;
    height:809px;
    padding-top: 102px;
    padding-left: 40px;
}

.aboutUsDiv {
    display: grid;
    width: 500px;
    height: 750px;
    align-items: end;
    justify-items: center;
}

.aboutUsText {
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 75px 25px 25px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutUsDes {
    color: white;
    text-align: center;
    font-size: 20px;
}

.aboutBtn {
    text-align: right;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5%;
    width: 82px;
    height: 24px;
    padding: 11px 32px;
    background: red

}

.aboutBtn:hover {
    background: transparent;
    transition: all ease-in-out 1s;
}

.sectionFive {
    display:grid;
    background: whitesmoke;
    padding-bottom: 2rem;
}

.sectionFiveTexth1 {
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.VidsOfPastTrips {
    display: flex;
    justify-content: space-between;
}

.InstagramVideos {
    width: 400px;
}

.sectionSix {
    background: black;
}

.InstragamText {
    text-align: center;
    color: white;
    font-size: xx-large;
}

.sectionSeven {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    background: whitesmoke;
}

.email {
    text-decoration: none;
    color:black;
}

.email:hover {
    color:rgb(80, 91, 153);
    -webkit-transition: all 0.4s ease-in-out;
    font-size: 16.50px;
}

@media (max-width:430px) {
    .mobile {
        display: none;
    }
    
    .VisitGhana {
        width: 100%;
    }

    .sectionTwo {
        width: 100%;
    }

    .sectionTwoPhoto {
        display: grid;
        justify-items: center;
    }

    .ghanaGirlPhoto {
        width: 360px;
        height: 206px;
        padding-top: 20px;
        border-radius: 0%;
    }

    .mountainManPic {
        width: 196px;
        height: 358px;
    }

    .sectionTwoText {
        font-size: 25px;
    }

    .benefitsOfTravel {
        width: 349px;
        height: 233px;
        padding-bottom: 5px;
    }

    .blackgirlsinAfrica {
        width: 349px;
        height: 233px;
        padding-top: 5px;
    }

    .sectionThreePhoto {
        display: grid;
        justify-content: center;
    }

    .sectionFour {
        display: grid;
    }

    .sectionFourPhoto {
        display: grid;
        justify-items: center;
    }

    .aboutUsPic {
        width: 320px;
        height: 405px;
        padding-left: 0px;
        justify-items: center;
    }

    .aboutUsDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .aboutUsDes {
        display: grid;
        width: 240px;
        height: 100px;
        font-size: medium;
        text-align: center;
    }

    .VidsOfPastTrips {
        display: grid;
        justify-content: center;
    }

    .InstagramVideos {
        width: 320px;
        height: 569px;
        border: 1px solid whitesmoke;
    }

    .InstragamText {
        padding-top: 25px;
    }

    .sectionSeven {
        display: grid;
        width: 414px;
        height: 218px;
    }

    .googlemap {
        width: 414px;
        height: 175px;
    }

    footer {
        padding-top: 160px;
        width: 414px;
    }

}